@{
    ViewData["Title"] = "Add";
}

@model ProductViewModel

<h1>Add product</h1>

@*enctype image için gerekli olan bir attribute*@
<form asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">
    <label asp-for="Name">Product Name: </label>
    <input type="text", asp-for="Name">
    <span class="text-danger" asp-validation-for="Name"></span>
    <br>

    <label asp-for="Price">Product Price: </label>
    <input type="text", asp-for="Price">
    <br>

    <label asp-for="Stock">Product Stock: </label>
    <input type="text", asp-for="Stock">
    <span class="text-danger" asp-validation-for="Stock"></span>

    <br>

    <select style="margin-bottom: 10px;" asp-for="Color" asp-items="@ViewBag.ColorSelect">
        <option value="">Select Color</option>
    </select>

    <div class="form-floating" style="margin-bottom: 10px;">
        <textarea asp-for="Description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>

    <div class="input-group-text">
        <label asp-for="isPublished">Do you want to publish the product?</label>
        <input class="form-check-input mt-0" asp-for="isPublished">
    </div>

    <div class="mb-3 mt-3">
        <span>How long it will be in sale?</span>
        @foreach(var items in ViewBag.ExpireDate as Dictionary<string,int>){
            <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Expire" id="Expire @items.Value" value="@items.Value">
                <label class="form-check-label" asp-for=Expire for="Expire @items.Value">
                    @items.Key
                </label>
            </div>
        }
    </div>

    <div> 
        <label for="formFileLg" class="form-label">Select an Image</label>
        <input class="form-control form-control-lg" asp-for=Image type="file">
    </div>
    
    <label asp-for="Email">E-mail: </label>
    <input type="text", asp-for="Email">
    <span class="text-danger" asp-validation-for="Email"></span>
    <br>

    <button type="submit">Add Product</button>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

