@{
    ViewData["Title"] = "Index";
}

@model List<ProductViewModel>

<h1>Goods</h1>

@if(TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>
}

<a asp-controller="products" asp-action="add">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Publish</th>
            <th>Expire in</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                
                <td>
                    @(item.isPublished?"Yes":"No")
                </td>

                <td>
                    @if (item.Expire.HasValue)
                    {
                        var date = DateTime.Now.AddMonths(item.Expire.Value);
                        @date.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        <p>No expiration</p>
                    }
                </td>

                <td>@item.Description</td>

                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Delete</a>
                    <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Update</a>
                    <a asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id">Go for detailed</a>
                </td>
            </tr>
        }
    </tbody>
</table>
